<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header></header>
    
        <main>
            <% if (donors.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% volunteers.forEach(d => { %>
                        <li class="orders__item">
                            <h1>Donor - # <%= d._id %> - <a href="/donors/<%= d._id %>"></a></h1>
                            <ul>
                                <h3>Name: <%=d.name%></h3>
                                <h3>Phone: <%=d.phone%></h3>
                                <h3>City: <%=d.city%></h3>
                                <h3>Quantity: <%=d.qty%></h3>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
            <form method="get" action="/">
                <button type="submit">Home</button>
            </form>
        </main>
    <footer></footer>
  </body>
</html>
